/*******************
BODY STYLING
*******************/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #69b6f6;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
}

#wrapper {
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -500px; /* Отступ слева, включает padding и border */
   	/* Отступ сверху */
  /*  margin: auto;*/

    max-width: 100%;
    max-height: 100%;
}

.h2_result {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    line-height: 30px;
    color: #414848;
    margin-bottom: 10px;
}

.gradient {
    width: 600px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;

    background: #D5F6FF -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213, 246, 255, 1)), to(rgba(213, 246, 255, 0))) no-repeat;
}

.test-cases-form {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 5;

    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/*******************
HEADER
*******************/

.test-cases-form .header {
    padding: 30px 30px 30px 30px;
}

.test-cases-form .header h1 {
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 28px;
    text-align: left;
    line-height: 34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    margin-bottom: 10px;
}

.test-cases-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
}

.test-cases-form .header textarea {
    width: 100%;
    height: 100px;
    font-size: 20px;
    color: #384284;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
}

/*******************
CONTENT
*******************/

.test-cases-form .content {
    padding: 0 30px 25px 30px;
}

/* Input field */
.test-cases-form .content .input {
    width: 238px;
    padding: 15px 25px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);

    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.test-cases-form .content h1 {
    width: 50%;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 28px;
    text-align: left;
    line-height: 34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    margin-bottom: 10px;
    display: inline-block;
}

.test-cases-form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.test-cases-form .content .input:focus {
    background: #dfe9ec;
    color: #414848;

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

/* Animation */
.input, .user-icon, .pass-icon, .button, .register {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    outline: none;
}

/*******************
FOOTER
*******************/

.test-cases-form .footer {
    padding: 25px 20px 25px 15px;
    overflow: auto;

    background: #d4dedf;
    border-top: 1px solid #fff;

    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

.test-cases-form .footer span {
    background: #d4dedf;
    color: red;
}

/* Login button */
.test-cases-form .footer .button, .test-cases-form .content .button {
    float: right;
    padding: 11px 25px;

    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);

    display: inline-block;
}

.test-cases-form .footer .button:hover, .test-cases-form .content .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256, 256, 256, 0.75);

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.test-cases-form .footer .button:focus, .test-cases-form .content .button:focus {
    position: relative;
    bottom: -1px;

    background: #56c2e1;

    box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
}

body {
    line-height: 1.6em;
}

.hor-minimalist-b {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 16px;
    background: #fff;
    margin: 20px 0 20px 0;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.hor-minimalist-b th {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 20px;
    border-bottom: 2px solid #6678b1;
}

.hor-minimalist-b td {
    border-bottom: 1px solid #ccc;
    color: #669;
    height: 25px;
}

.hor-minimalist-b td input[type="checkbox"] {
    width: 10%;
    color: #669;
    height: 25px;
}

.hor-minimalist-b td input[type="text"] {
    width: 100%;
    color: #384284;
    height: 25px;
}

.hor-minimalist-b-title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #039;
    font-size: 25px;
    margin-left: 45px;
    margin-top: 15px;
}

.hor-minimalist-b-link {
    color: #669;
}
